@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
#root,#root>div{
  height: 100%;
}
#root .ant-layout-header{
  height: 65px!important;
  line-height: 65px!important;
}
#root .trigger {
  font-size: 18px;
  line-height: 65px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#root .trigger:hover {
  color: #108ee9;
}
#root .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
#root .avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  line-height: 1;
  border-radius: 50%;
  white-space: nowrap;
  font-weight: bold;
}
#root .avatar img {
    vertical-align: middle;
    border-radius: 50%;
    width: 100%;
}
#root .avatar i {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  margin: 1px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  
}
#root .avatar .bottom {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
#root .avatar .on {
  background-color: #6cc788;
}  
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
  // border-bottom: none;
  box-sizing: border-box;
}
.ant-menu-dark  .ant-menu-item-selected {
  background-color: #5f5f5f !important;
}
.custom-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}
.ant-layout-sider-collapsed {
  overflow-y: initial !important;
}